.card{
    width: 400px;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s;

}
.card:hover {
    transform: translateY(-10px);
}
.card-text-box{
    background-color: #F9FAFB;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* border: 1px solid #ccc; */
    border-radius: 10px;
    padding: 1rem;
    
}
.card-image{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    object-fit: cover;
}

.card-author{
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
}


.card-content {
    padding: 1rem;
}

.card-name {
    font-size: 1rem;
    /* margin: 0.5rem 0; */
}

.card-designation {
    font-size: 1rem;
    color: #555;
    margin-bottom: 0.5rem;
}

.card-text {
    font-size: .9rem;
    color: #777;
}