.footer-content{
    width: 100vw;
    /* height: 0vh; */
    margin: auto;
    background-color: #F3F4F6;

}
.footer-wrapper{
    width: 55%;
    height: 100%;
    padding: 4rem;
    margin: auto;
    text-align: center;
    /* background-color: magenta; */
    display: flex;
    flex-direction: column;
    gap: 2rem;

}
.logo svg{
    height: 35px;
}
.footer-para{
    width: 70%;
    margin: auto;
}
.footer-links ul{
    display: flex;
    list-style: none;
    gap: 4rem;
    justify-content: center;
}
.footer-icons{
    /* padding: 1rem; */
    text-align: center;
    display: flex;
    justify-content: center;
    color: black;
}
.footer-icons ul{
    display: flex;
    gap: 2rem;
    list-style: none;
}
.footer-icons svg{
    height: 1.6rem;
}
